{% extends 'base.html' %}
{% load static %}
{% block css %}

<link rel="stylesheet" href="{% static 'css/user.css' %}" />

{% endblock css %}

{% block body %}


  <div class="linkes">
    <div class="fln">
        <a href="" class="link ac">
            <div class="fimg"><img src="{% static 'img/icons/address.png' %}" alt=""></div>
            <div class="datl">
                <span class="bname " style="font-size:1.7em;">عنوان التوصيل</span>
                <div class="bio ar2">عنوان شحن المنتجات</div>
            </div>
        </a>


        <div class="card">
          <h2>العنون </h2>
          <div class="GEO" style="margin-bottom: 10px; margin-right: calc(0.7rem );">
            <button class="" id="location-button" style="color: #fff;">اضعط هنا لتسمح لنا بتحديد موقعك جغرافياً</button>
            <script>
              $('#location-button').click(function(){

              if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(function(position){
              console.log(position.coords.latitude);
              console.log(position.coords.longitude);

              });

              }

              });
              </script>
          </div>
          <div class="btdas">

            <label class="input">
              <select class="input__field"   placeholder=" ">
                <option value="" selected>غزة</option>
                <option value="" selected>رفح</option>
                <option value="" selected>خانيونس</option>
                <option value="" selected>النصيرات</option>
                <option value="" selected>بيت لاهيا</option>

              </select>
              <span class="input__label">المدينة</span>
            </label>


            <label class="input">
              <select class="input__field" placeholder=" ">
                <option class="hidden" disabled>: اختر المحافظة </option>
                <option value="1" >بيت حانون</option>
                <option value="2" >عطاطرة</option>
                <option value="3" >الريمال</option>
                <option value="4" >جباليا</option>
                <option value="5" >المنطقة الصناعية</option>
                <option value="6" >مخيم الشاطئ</option>
                <option value="7" >وحش</option>
                <option value="8" >البريج</option>
                <option value="9" >مغازي</option>
                <option value="10" > الزوايدة</option>
                <option value="11" > دير البلح</option>
                <option value="12" > جرارة</option>
                <option value="13" > كف العبادة</option>
                <option value="14" > بني سهيلة</option>
                <option value="15" > عبسان الكبير</option>
                <option value="16" > خربة عدس</option>
              </select>
              <span class="input__label">المحافظة</span>
            </label>

          <label class="input">
            <input class="input__field" value="اللبابيدي"  type="text" maxlength="10" minlength="10" placeholder=" " />
            <span class="input__label">الشارع</span>
          </label>

          <label class="input">
            <input class="input__field" value="الغفري"  type="text" maxlength="10" minlength="10" placeholder=" " />
            <span class="input__label">اقرب مفترق</span>
          </label>

          <label class="input">
            <input class="input__field" value="عمارة حمادة" type="text" maxlength="10" minlength="10" placeholder=" " />
            <span class="input__label">رقم / اسم البناية</span>
          </label>

          <label class="input">
            <input class="input__field" value="33" type="text" maxlength="10" minlength="10" placeholder=" " />
            <span class="input__label">تفاصيل اخرى</span>
          </label>

        </div>
        <div class="button-group">
          <button>تعديل</button>
        </div>
        </div>


        <style>
          @import url("https://rsms.me/inter/inter.css");

          .form-check.form-switch{
            display: flex;
            align-items: center;
            flex-direction: row;
            font-size: 1.1em;
            text-align: right;
            padding-left: 0em;
            width: 100%;
            justify-content: flex-end;
          }
          .form-check-label{
            margin-right: 50px;
            width: 100%;
          }


 .card {
	 background: white;
	 padding: calc(4 * 0.5rem);
	 margin-top: calc(4 * 0.5rem);
	 border-radius: 4px;
	 border: 3px solid var(#fab700, currentColor);
	 box-shadow: 0.5rem 0.5rem 0 var(#fab700, currentColor);
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-end;
}
.btdas{
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: flex-start;

}
 .card--inverted {
	 --color-background: #212121;
	 color: white;
}
 .card--accent {
	 --color-background: rgb(56, 102, 223);
	 --color-accent: white;
	 color: #212121;
}
 .card *:first-child {
	 margin-top: 0;
}
 .l-design-widht {
	 max-width: 40rem;
	 padding: 1rem;
}
 .input {
	 position: relative;
   margin: 10px;
}
 .input__label {
	 position: absolute;
	 right: 0;
	 top: 0;
	 padding: calc(0.5rem * 0.75) calc(0.5rem * 0.5);
	 margin: calc(0.5rem * 0.75 + 3px) calc(0.5rem * 0.5);
	 background: pink;
	 white-space: nowrap;
	 transform: translate(0, 0);
	 transform-origin: 0 0;
	 background: white;
	 transition: transform 120ms ease-in;
	 font-weight: bold;
	 line-height: 1.2;
}
 .input__field {
	 box-sizing: border-box;
	 display: block;
	 width: 300px;
	 border: 3px solid currentColor;
	 padding: calc(0.5rem * 1.5) 0.5rem;
	 color: currentColor;
	 background: transparent;
	 border-radius: 4px;
   direction: rtl;
   text-align: right;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
 .input__field:focus + .input__label, .input__field:not(:placeholder-shown) + .input__label {
	 transform: translate(0.25rem, -65%) scale(0.8);
	 color: rgb(56, 102, 223);
}
 .button-group {
  margin-right: calc(0.7rem );
   color: #fff;
}
 button {
	 color: currentColor;
	 padding: 0.5rem calc(0.5rem * 2);
	 background: rgb(56, 102, 223);
	 border: none;
	 border-radius: 4px;
	 font-weight: 900;
}
 button[type="reset"] {
	 background: white;
	 font-weight: 200;
}
 button + button {
	 margin-left: calc(0.5rem * 2);
}

 .hidden {
	 display: none;
}
 
        </style>
    </div>
   </div>

  
  <style>
    .moves{
      display: flex;
      flex-direction: row-reverse;
      width: 100%;
      justify-content: center;
      align-items: flex-start;
    }
    .moves .rig,.lef{
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    .tlt{
      font-size: 1.7em;
      margin: 10px 0px;
    }
    table {
      border-spacing: 1;
      border-collapse: collapse;
      background: #fff;
      border-radius: 10px;
      overflow: hidden;
      width: 95%;
      margin: 0 auto;
      position: relative;
    }
    table * {
      position: relative;
    }
    tbody tr {
      font-family: OpenSans-Regular;
      font-size: 15px;
      color: gray;
      line-height: 1.2;
      font-weight: unset;
    }
    table thead tr {
      height: 60px;
      background: #232f3e;
      color: #fff;
    }
    table tbody tr {
      height: 50px;
    }
    tbody tr:nth-child(even) {
      background-color: #f5f5f5;
    }
    .column1 {
      width: 260px;
      padding-left: 40px;
  }
  table td, table th {
      text-align: center;
  }
  @media screen and (max-width: 767px) {
    .moves{
      flex-direction: column;
    }

    .linkes .fln {
      width: 100%;
    }
    .linkes .link {
      width: 80%;
    }
    .card {
      width: 95%;
    }
    .btdas {
      flex-direction: column;
      align-items: flex-end;
    }
    .button-group {
      margin-top: calc(0.5rem * 2.5);
    }
  }

  </style>

  <br><br><br>

{% endblock body %}




